/*coleção de fontes RWAN */
@font-face{
    font-family:pw1;
    src:url("rwain/a-papa.ttf");
}
@font-face{
    font-family:pw2;
    src:url("rwain/a-tribe-of-aclems.ttf");
}
@font-face{
    font-family:pw3;
    src:url("rwain/abuse.ttf");
}

@font-face{
    font-family:pw4;
    src:url("rwain/alexandre.ttf");
}

@font-face{
    font-family:pw5;
    src:url("rwain/another-danger.ttf");
}

@font-face{
    font-family:pw6;
    src:url("rwain/asgardian-wars.ttf");
}

@font-face{
    font-family:pw7;
    src:url("rwain/at-last-a-tshirt.ttf");
}

@font-face{
    font-family:pw8;
    src:url("rwain/b-movie-dings.ttf");
}

@font-face{
    font-family:pw9;
    src:url("rwain/naked-monk.ttf");
}
@font-face{
  font-family:pw10;
    src:url("rwain/new-wave-aztec.ttf");
}

@font-face{
    font-family:pw11;
    src:url("rwain/rwan_ttf_founts.css");
}

@font-face{
    font-family:pw12;
    src:url("rwain/taco-box.ttf");
}

@font-face{
    font-family:pw13;
    src:url("rwain/walkiria.ttf");
}
